*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  /* background-color: blue; */
  width: 100%;
}

h1 {
  color: goldenrod;
  text-align: center;
  margin: 20px;
}

.images {
  /* height: 100%; */
  position: relative;
}

.images img{
  width: 100%;
}

.back,
.next {
  color: goldenrod;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.back:hover,
.next:hover {
  color: rgba(255, 186, 11, 0.678);
}

.back {
  left: -5%;
}
.next {
  right: -5%;
}

.nav {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 999px;
  padding: 5px;
}

.nav i{
  color: white;
  margin: 3px;
  cursor: pointer;
}

.nav i.active {
  color: goldenrod;
}

.consolle {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.consolle i {
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

.consolle i:hover{
  color: rgba(255, 186, 11, 0.678);
}
